@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
  display: block;
  margin: .025rem;
}

img:nth-child(3), img:nth-child(4) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img:nth-child(3), img:nth-child(4) {
    display: inline-block;

}

img {
  width: 49%;
  display: inline-block;
}

@media only screen and (min-width:38em) {

  img:first-child {
    display: none;
  }

  img {
    width: 32%;
  }

}

@media only screen and (min-width:60em) {

  img:first-child {
    display: inline-block;
  }

  img {
    width: 24%;
  }

}
